# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folder
venv/

# Ignore credentials files or sensitive data (e.g., OTP storage)
OTP_STORAGE_FILE
*.enc

# Ignore browser drivers if necessary
chromedriver
chromedriver.exe

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore the allowed sites file to keep it private
allowed_sites.txt

