# Python virtual environments
venv/
__pycache__/

# IDE or Editor config files (e.g., VSCode, PyCharm, etc.)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Chromedriver binary
chromedriver
